tmp/
components/*
!components/esp-ml307/
!components/esp-ml307/**
!components/esp-wifi-connect/
!components/esp-wifi-connect/**
!components/esp_lvgl_port/
!components/esp_lvgl_port/**
!components/epdiy/
!components/epdiy/**
managed_components/
build/
.vscode/
.cursor/
.devcontainer/
dependencies.lock
.env
releases/
local-changes-summary.md

main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
!wakeword/
!wakeword/*.bin
mmap_generate_*.h
.clangd
tools/epdfont/.venv/
tools/fontpack/.venv/
tools/ebook/.venv/

